@media only screen and (max-width: 576px) {
  /* Styles for devices up to 425px wide (Mobile L) */
  .brand {
    font-size: 25px;
  }
  nav ul li a {
    display: none;
  }
  .menu {
    display: block;
  }
  .banner {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .banner-container h1 {
    font-size: 30px;
  }
  .banner-img img {
    width: 80%;
  }
  .banner-container button {
    width: auto;
  }
  .freeWorkout {
    right: -55px;
  }
  .videoTutorial {
    left: 4px;
  }
  .habits-content h1 {
    font-size: 35px;
  }
  .habits-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .runanextra {
    grid-template-columns: repeat(1, 1fr);
  }

  .runanextra div img {
    width: 350px;
    height: 300px;
    border-radius: 16px;
  }
  .runanextra article h1{
    font-size: 34px;
  }
  .trainings-imgCard-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .exercise2 , .exercise4{
    grid-column: span 1;
 }
}

/* Tablet Portrait (426px - 768px) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  /* Styles for tablets and larger phones */

  .brand {
    font-size: 25px;
  }
  nav ul li a {
    display: none;
  }
  .menu {
    display: block;
  }
  .banner {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .banner-container h1 {
    font-size: 30px;
  }
  .banner-img img {
    width: 50%;
  }
  .banner-container button {
    width: auto;
  }
}
