@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Inter, serif;
  background: rgba(19, 8, 8, 0.89);
  color: white;
  
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

.peraColor {
  color: rgba(255, 255, 255, 0.5);
}
section{
  padding-top: 20px;
  padding-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.brand {
  text-decoration: none;
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}

.menu {
  display: none;
}

.shape {
  font-family: "Dancing Script", cursive;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.home {
  background-color: rgb(230, 83, 60);
  padding: 10px 20px;
  border-radius: 24px;
}

nav ul li {
  list-style-type: none;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-container h1 {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
}

.banner-container button {
  padding: 10px;
  width: 203px;
  border: none;
  border-radius: 17px;
  color: white;
}

.joinBtn {
  border-radius: 42px;
  background: rgb(230, 83, 60);
}

.DownloadBtn {
  border-radius: 42px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255) !important;
}

.banner-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img img {
  width: 50%;
}

.freeWorkout {
  position: absolute;
  top: 116px;
  right: 60px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.videoTutorial {
  position: absolute;
  bottom: 13px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  left: 111px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
/* banner part end  */

/* Change Your Habits  */
.habits {
  margin-top: 40px;
  padding-bottom: 20px;
}
.habits-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.habits-content h1 {
  font-size: 48px;
  font-weight: 900;
}
.habits-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.habits-card div {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.habits-card div h3 {
  font-size: 18px;

  font-weight: 600;
}
.habits-card div img {
  margin: auto;
  border: 3px solid slategray;
  border-radius: 50%;
}

/* runanextra */
.runanextra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin: 40px;
  border-radius: 18px;
  background: #333030;
  gap: 20px;
}
.runanextra article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.runanextra article h1 {
  font-size: 48px;
  font-weight: 900;
}
.runanextra article button {
  width: 120px;
  padding: 10px;
  border-radius: 42px;
  background: #e6533c;
  color: white;
  border: none;
  cursor: pointer;
}
.runanextra div img {
  width: 500px;
  height: 300px;
  border-radius: 16px;
}

/* Trainings and Exercises */
.trainings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.trainings h1 {
  font-size: 48px;

  font-weight: 900;
}
.trainings-imgCard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.trainings-imgCard-container div {
  position: relative;
}
.trainings-imgCard-container div img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 2px solid white;
}
.exercise2,
.exercise4 {
  grid-column: span 2;
}
/* BMI-Calculator */
.BMI-Calculator {
  margin: 40px;
  display: flex;
  justify-content: center;
}
.calculatorBrand {
  font-size: 48px;
  font-weight: 900;
}
.chartAndBMIBrand {
  font-size: 28px;
  font-weight: 900;
}
.BMI-Calculator div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.CalculateTowPart {
  background: #0f0c0c;
  padding: 20px;
}
.chartAndBMI {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.tabel th {
  text-align: start;
}
.tabel {
  border-collapse: collapse;
  margin-top: 10px;
}
.tabel th,
td {
  border: 1px solid white;
  padding: 15px;
  text-align: left;
}
.BMICal {
  grid-column: span 2;
}
.BMICalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* input group */
.inputGroup {
  margin-top: 10px;
}
.inputGroup div {
  display: flex;
  gap: 10px;
}
.inputGroup div {
  margin-top: 10px;
}
.inputGroup input,
select {
  color: white;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 50%;
  outline: none;
}
.inputGroup div select option {
  background-color: black;
}
.lastSelect {
  width: 100%;
}
.firstSelect {
  width: 50%;
}
.calculateBtn {
  padding: 10px;
  width: 200px;
  background-color: #e6533c;
  color: white;
  border: none;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 16px;
}
/*  Meet Our Team */
.Team{
   padding: 20px;
   background-color: black;
   
}
.MeetTeamContent{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.MeetTeamContent h1{
 font-size: 48px;
 font-weight: 900;
 }
 .teamCard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.10);
 }
 .teamCard div{
   position: relative;
 }
 .teamCard div img{
  width: 100%;
  height: 300px;
  border-radius: 16px;
 }
 .shortTitle{
  position: absolute;
  bottom: 60px;
  padding: 10px;
 }

 /* Footer  */
 footer{
  background: rgba(22, 8, 8, 0.1);
  padding: 20px;
 }
 .footerContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
 }
 .footerContainer div ul li{
  list-style-type: none;
    
 }
 .footerContainer div{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 .footerContainer div ul li{
  margin-top: 10px;
   
 }
 .footerContainer div ul li:hover{
  cursor: pointer;
  color: #4d4848;
 }
 .footerBrand{
  color: #E6533C;
  font-size: 70px;
 font-weight: 800;
  }
  .getStarted{
    margin-top: 10px;
  }